<!DOCTYPE html>
<html>

<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
<script src="https://cdn.firebase.com/v0/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>

<script type="text/javascript" src="main.js"></script>

</head>

	<header>
		<div class="box"></div>
	</header>

<body>
	<div x-ng-app="TicTac" x-ng-controller="boardCtrl">
		<div class="main">
			<div class="gameBoard">
				<div>
					<div class="message"><h1>{{winner}}</h1></div>
					<div ng-repeat="box in boxes track by $index" x-ng-class="{cell:true, clear: $index % 3 == 0}" x-ng-click="takeTurn($index)">
					<img src = "{{box}}" />
					</div>
				</div>
			</div>
			<div class="popUp">{{winner}}</div>
			<input type="button" x-ng-click="resetBoard()" value="Reset"/>
		</div>
		<div class="column1">Tyrion</div>
		<div class="column2">Daenerys</div>
</body>
</html>